<link rel="stylesheet" type="text/css" data-ng-href="{{ customThemeCssFile || staticThemeCssFile }}" data-ng-if="!!customThemeCssFile || !!staticThemeCssFile" />

<div id="four-screens-application">
  <div class="theme-background-image-file theme-background-color theme-background-image-position theme-background-image-blur theme-background-brightness"></div>
  <div class="four-screens__embed-container theme-main-font" data-ng-class="wayAnimateClass">
    <div ng-repeat="question in questions" class=" questionnaire animate-if" data-ng-if="$index == currentQuestion.index()">
      <div class="four-screens__content wrapper" data-ng-class="{'content__type--forms': question.type == 'forms', 'content__type--info-page': question.type == 'infoPage' , 'content__type--multi-choice': question.type == 'multiChoice', 'content__type--picture-choise': question.type == 'pictureChoice' , 'content__type--rate-it': question.type == 'rateIt' }" data-ng-include="'views/engageform/question-' + question.type + '.html'">
      </div>
    </div>
    <div class="four-screens__footer">
      <div class="progress" data-ng-if="currentQuestion.index() > -1">
        <span class="progress__bar">
          <span class="progress__bar--line theme-button-color" ng-class="{'progress__bar--full-size': (((currentQuestion.index() + 1)  / questions.length )*100) == 100 }" style="width: {{( (currentQuestion.index() + 1)  / questions.length )*100 | number:0 }}%">
        </span>
      </div>
      <div class="progress__numbering" >
        ({{ currentQuestion.index() + 1 }} of {{ questions.length }}) 
      </div>
      <span class="four-screens__footer-logo"></span>
      <button class="progress__btn progress__btn--prev" data-ng-show="hasPrev()" data-ng-click="prev()">
        <span><i class="fa fa-chevron-left"></i></span>
      </button>
      <button class="progress__btn progress__btn--next theme-button-color theme-question-color" data-ng-show="hasNext()" data-ng-click="next()">
        <span>NEXT &raquo;</span>
      </button>
    </div>
  </div>
</div>