<h2 class="theme-question-color" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<div class="header__wrapper" data-ng-if="!!currentQuestion.mainMedia()" >
  <picture class="main-media-image"
    data-ng-class="{'no-transform': !question.imageData, 'transform': question.imageData}"
    data-ng-init="mainMediaImgWidth = question.imageData.width < 100 ? question.imageData.width : 100 "
  >
    <img data-ng-style="{
        'width': mainMediaImgWidth + '%',
        'left' : (question.imageData.left > 0 ? question.imageData.left : 0) + '%',
        'top'  : (question.imageData.top  > 0 ? question.imageData.top  : 0) + '%'
      }"
      data-ng-src="{{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '1.0' ) }}" 
      data-ng-srcset="{{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '1.0' ) }},
                      {{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '1.5' ) }} 1.5x,
                      {{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '2.0' ) }} 2.0x"
    >
    <img class="placeholder"
      data-ng-style="{'width': mainMediaImgWidth + '%'}"
      data-ng-src="{{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '1.0' ) }}" 
      data-ng-srcset="{{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '1.0' ) }},
                      {{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '1.5' ) }} 1.5x,
                      {{ getMainImgUrl( currentQuestion.mainMedia().src, 620, '2.0' ) }} 2.0x"
    >
  </picture>
</div>
<div class="list">
  <div data-ng-repeat="answer in question.answers" class="questionnaire__answer questionnaire__answer--picture-choise "
      data-ng-class="{'questionnaire__answer--selected':  questionAnswer.selected === answer._id, 'questionnaire__answer--notcorrect': !!questionAnswer.selected && questionAnswer.selected !== answer._id  }"
      data-ng-click="sendAnswer( answer._id )">
     <figure data-ng-class="{
      'theme-button-color questionnaire__answer--selected': questionAnswer.selected === answer._id,
      'theme-answer-background-color theme-answer-border-color': questionAnswer.selected !== answer._id,
      'questionnaire__answer--notcorrect': !!questionAnswer.selected && questionAnswer.selected !== answer._id
    }">
        <div class="wrapper ir">
          <picture class="thumb-media-image">
            <img 
              data-ng-src="{{ getImgUrl( currentQuestion.answerMedia( answer.imageFile ), 300, '1.0' ) }}" 
              data-ng-srcset="{{ getImgUrl( currentQuestion.answerMedia( answer.imageFile ), 300, '1.0' ) }},
                              {{ getImgUrl( currentQuestion.answerMedia( answer.imageFile ), 300, '1.5' ) }} 1.5x,
                              {{ getImgUrl( currentQuestion.answerMedia( answer.imageFile ), 300, '2.0' ) }} 2.0x"
            >
          </picture>
          <div class="answer__bar" data-ng-class="{'theme-answer-select-background-result-color': questionAnswer.selected === answer._id, 'theme-answer-background-result-color': questionAnswer.selected !== answer._id }" style="
            -moz-transform: translate(50%, {{100 - formatAnswers(questionAnswer.stats[answer._id]) | number:1}}% );
            -webkit-transform: translate(50%, {{100 - formatAnswers(questionAnswer.stats[answer._id]) | number:1}}%);
            -o-transform: translate(50%, {{100 - formatAnswers(questionAnswer.stats[answer._id]) | number:1}}%);
            -ms-transform: translate(50%, {{100 - formatAnswers(questionAnswer.stats[answer._id]) | number:1}}%);
            transform: translate(50%, {{100 - formatAnswers(questionAnswer.stats[answer._id]) | number:1}}%);
          "></div>
        </div>
        <figcaption data-ng-class="{
          'theme-question-color': questionAnswer.selected === answer._id,
          'theme-answer-color': questionAnswer.selected !== answer._id
        }">
          {{ answer.text }}
        </figcaption>
        <div class="results" data-ng-if="!!questionAnswer && !!questionAnswer.stats" data-ng-class="{
          'theme-question-color': questionAnswer.selected === answer._id,
          'theme-answer-color': questionAnswer.selected !== answer._id
        }">
          <span>
            {{ !!questionAnswer.stats[answer._id] ? (100 * questionAnswer.stats[answer._id]) : 0 | number:1 }}<span class="precent">%</span>
          </span>
          <i class="fa" data-ng-if="!!question.settings.showCorrectAnswer && question.settings.showCorrectAnswer != false" data-ng-class="{'fa-check': !!question.settings.showCorrectAnswer && !!questionAnswer.status[ answer._id ].correct, 'fa-times': !questionAnswer.status[ answer._id ].correct }"></i>
        </div>
      </figure>
  </div>
</div>
