<h2 class="theme-question-color" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<div class="header__wrapper ir-169" data-ng-if="!!currentQuestion.mainMedia()">
  <img data-ng-src="{{ currentQuestion.mainMedia().src }}" />  
</div>

<div data-ng-click="sendAnswer( answer._id )" data-ng-repeat="answer in question.answers" class="questionnaire__answer" data-ng-class="{
  'theme-button-color questionnaire__answer--selected': questionAnswer.selected === answer._id,
  'theme-answer-background-color theme-answer-border-color': questionAnswer.selected !== answer._id,
  'questionnaire__answer--notcorrect': !!questionAnswer.selected && questionAnswer.selected !== answer._id
}">
  <div class="answer__bar" style="width:{{ !!questionAnswer.stats[answer._id] ? (100 *   questionAnswer.stats[answer._id]) : 0 | number:1 }}%" data-ng-class="{'theme-answer-select-background-result-color': questionAnswer.selected === answer._id, 'theme-answer-background-result-color': questionAnswer.selected !== answer._id }"></div>
  <label data-ng-class="{
    'theme-question-color': questionAnswer.selected === answer._id,
    'theme-answer-color': questionAnswer.selected !== answer._id
  }">
    {{answer.text}}
    <span data-ng-if="!!questionAnswer.stats" class="theme-question-result-color-text ng-animate">
      {{ formatAnswers(questionAnswer.stats[answer._id]) | number:1 }} %
      <i class="fa" data-ng-if="!!question.settings.showCorrectAnswer && question.settings.showCorrectAnswer != false" data-ng-class="{'fa-check': !!question.settings.showCorrectAnswer && !!questionAnswer.status[ answer._id ].correct, 'fa-times': !questionAnswer.status[ answer._id ].correct }"></i>
    <span>
  </label>
</div>
