<h2 class="theme-question-color text-center" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<div data-ng-repeat="answer in question.stats" class="questionnaire__answer theme-answer-background-color theme-answer-border-color questionnaire__answer--notcorrect">
  <div class="answer__bar theme-answer-select-background-result-color"
       ng-style="{'width': formatAnswers(answer.percent)+'%'}">
  </div>
  <label class="theme-answer-color">
    {{ answer.title ? answer.title + ' (' + answer.group + ')' : answer.group }}
    <span class="theme-question-result-color-text ng-animate">
      <span>
        {{ formatAnswers(answer.percent) | number:1 }} %
      </span>
      <i class="fa" data-ng-if="question.settings.showCorrectAnswer && questionAnswer.selected === answer._id"
         data-ng-class="{'fa-check': questionAnswer.correct === answer._id, 'fa-times': questionAnswer.correct !== answer._id }"></i>
    <span>
  </label>
</div>
