<div class="scored theme-question-color" data-ng-if="quiz.type === 'score'">
  You scored <span class="scored-text"><span class="scored-text-fill" data-ng-style="{height: ( 100 - scoredPoints ) + '%'}">{{scoredPoints || 0}}</span>{{ (scoredPoints || 0) + '%'}}</span>
</div>

<h2 class="theme-question-color text-center" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<div class="main-content-description theme-question-color text-center" data-ng-if="!!question.description">
  <p>{{question.description}}</p>  
</div>

<picture class="main-media-image"
  data-ng-if="!!currentQuestion.mainMedia() && !!mainMediaImg()"
  data-ng-class="{'no-transform': !question.imageData, 'transform': question.imageData}"
  data-ng-style="{'padding-bottom': mainMediaImg().paddingBottom + '%'}"
>
  <img data-ng-style="{
      'width': mainMediaImg().width + '%',
      'left' : (question.imageData.left > 0 ? question.imageData.left : 0) + '%',
      'top'  : (question.imageData.top  > 0 ? question.imageData.top  : 0) + '%'
    }"
    data-ng-src="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }}" 
    data-ng-srcset="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }},
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.5' ) }} 1.5x,
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '2.0' ) }} 2.0x"
  >
</picture>

<div class="text-center main-footer" data-ng-if="question.coverPage.link">
  <a class="btn btn--round-corner btn--normal theme-button-color theme-question-color" rel="nofollow" target="_blank" title="{{question.coverPage.buttonText}}" data-ng-href="{{question.coverPage.link}}">{{question.coverPage.buttonText || "Thank You"}}</a>
</div>

<div class="text-center main-footer" data-ng-if="!question.coverPage.link">
  <span class="btn btn--round-corner btn--normal theme-button-color theme-question-color" title="{{question.coverPage.buttonText}}">
    {{question.coverPage.buttonText || "Thank You" }}
  </span>
</div>

<div data-ng-if="question.coverPage.showSocialShares && socialShare().enabled" data-ng-include="'views/engageform/social-share.html'"></div>