<h2 class="theme-question-color" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<picture data-ng-if="!!currentQuestion.mainMedia()" class="main-media-image">
  <source 
    media="(min-width: 481px)" 
    data-ng-srcset="{{ getImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }},
                    {{ getImgUrl( currentQuestion.mainMedia().src, 680, '1.5' ) }} 1.5x,
                    {{ getImgUrl( currentQuestion.mainMedia().src, 680, '2.0' ) }} 2.0x"
  >
  <source 
    media="(min-width: 0px)" 
    data-ng-srcset="{{ getImgUrl( currentQuestion.mainMedia().src, 480, '1.0' ) }},
                    {{ getImgUrl( currentQuestion.mainMedia().src, 480, '1.5' ) }} 1.5x,
                    {{ getImgUrl( currentQuestion.mainMedia().src, 480, '2.0' ) }} 2.0x"
  >
  <img 
    data-ng-src="{{ getImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }}" 
    data-ng-srcset="{{ getImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }},
                    {{ getImgUrl( currentQuestion.mainMedia().src, 680, '1.5' ) }} 1.5x,
                    {{ getImgUrl( currentQuestion.mainMedia().src, 680, '2.0' ) }} 2.0x"
  >
</picture>
<form action="" name="form" class="form">
  <fieldset>
    <div class="form__field" data-ng-repeat="input in question.forms.inputs">
      <label for="{{input._id}}" data-ng-bind="input.label"></label>
      <input type="email" placeholder="{{input.label}}" name="{{input._id}}" data-ng-if="input.type=='email'" data-ng-model="currentQuestion.inputs()[input._id]" required>

      <input type="text" placeholder="{{input.label}}" name="{{input._id}}" data-ng-if="input.type=='text'"  data-ng-model="currentQuestion.inputs()[input._id]" >
      
      <input type="text" placeholder="{{input.label}}" name="{{input._id}}" data-ng-if="input.type=='phone'" data-ng-model="currentQuestion.inputs()[input._id]">
      
      <input type="url" placeholder="{{input.label}}" name="{{input._id}}" data-ng-if="input.type=='url'" data-ng-model="currentQuestion.inputs()[input._id]" >
    
      <textarea name="{{input._id}}" id="" cols="30" rows="10" data-ng-if="input.type=='textarea'" placeholder="{{input.label}}" ng-model="currentQuestion.inputs()[input._id]" required></textarea>

      <div ng-messages="form[input._id].$error" ng-messages-multiple class="message theme-question-color  text-right">
        <div ng-message="required">
          This field is required
        </div>
        <div ng-message="email">
          Your field has an invalid email address
        </div>
        <div ng-message="number">
          Only numbers
        </div>
        <div ng-message="url">
          Your field has a invalid url address
        </div>
      </div>
    </div>
  </fieldset>
  <div class="hint">
    <i class="fa fa-info-circle"></i>&nbsp;<span>Type your answer above. Press next to continue.</span>
  </div>
</form>