<h2 class="theme-question-color text-center" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<div class="main-content-description theme-question-color text-center" data-ng-if="!!question.description">
  <p>{{question.description}}</p>  
</div>

<picture class="main-media-image"
  data-ng-if="!!currentQuestion.mainMedia() && !!mainMediaImg()"
  data-ng-class="{'no-transform': !question.imageData, 'transform': question.imageData}"
  data-ng-style="{'padding-bottom': mainMediaImg().paddingBottom + '%'}"
>
  <img data-ng-style="{
      'width': mainMediaImg().width + '%',
      'left' : (question.imageData.left > 0 ? question.imageData.left : 0) + '%',
      'top'  : (question.imageData.top  > 0 ? question.imageData.top  : 0) + '%'
    }"
    data-ng-src="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }}" 
    data-ng-srcset="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }},
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.5' ) }} 1.5x,
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '2.0' ) }} 2.0x"
  >
</picture>

<div class="quiz-icon quiz-icon-big" data-ng-if="!currentQuestion.mainMedia() && currentQuestion.settings('showMainMedia')">
  <i class="fa theme-question-color" data-ng-class="{
    'fa-bar-chart': quiz.type === 'poll',
    'fa-edit': quiz.type === 'survey',
    'fa-trophy': quiz.type === 'score',
    'fa-group': quiz.type === 'outcome'
  }"></i>
</div>

<div class="text-center main-footer">
  <button class="btn btn--round-corner btn--normal theme-button-color theme-question-color" data-ng-show="hasNext()" data-ng-click="next($event)">{{question.coverPage.buttonText || "Let's get started"}}</button>
  <button class="btn btn--round-corner btn--normal theme-button-color theme-question-color" data-ng-show="!hasNext()">{{question.coverPage.buttonText || "Let's get started"}}</button>
</div>



