<div class="swiper">
  <a class="swiper swiper-arrow swiper-arrow__left" data-ng-click="swipePrev()"></a> 
  <a class="swiper swiper-arrow swiper-arrow__right" data-ng-click="swipeNext()"></a>
  <div class="swiper-container engageform-swiper-directive">
    <div class="swiper-wrapper">
      <article class="swiper-slide" data-ng-repeat="page in question.infoPages">
        <a data-ng-href="{{ page.url }}" target="_blank" data-ng-class="{'disabled': !page.url}">
          <h2 class="theme-question-color" data-ng-bind-html="page.title | nl2br"></h2>
          <figure>
            <div class="wrapper ir-16-10" data-ng-if="!!page.imageFile || !!page.youTubeId">
              <img data-ng-if="!!page.imageFile" data-ng-src="{{ currentQuestion.answerMedia( page.imageFile ) }}" />
              <div data-ng-if="!!page.youTubeId" data-youtube-video data-video-id="page.youTubeId"></div>
            </div>
          </figure>
          <p class="swiper-slide__description theme-answer-color theme-answer-background-color" data-ng-if="!!page.description" data-ng-bind-html="page.description | nl2br"></p>
        </a>
      </article>
    </div>
  </div>
  <div class="pagination-swiper"></div>
</div>
