<h2 class="theme-question-color" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<div class="header__wrapper ir-169" data-ng-if="!!currentQuestion.mainMedia()">
  <img data-ng-src="{{ currentQuestion.mainMedia().src }}" />  
</div>

<div data-ng-click="sendAnswer( answer._id )" data-ng-repeat="answer in question.answers" class="questionnaire__answer theme-answer-background-color theme-answer-border-color" data-ng-class="{'questionnaire__answer--selected': questionAnswer.selected === answer._id, 'questionnaire__answer--notcorrect': !!questionAnswer.selected && questionAnswer.selected !== answer._id }">
  <label class="theme-answer-color">
    {{answer.text}}
    <span data-ng-if="!!questionAnswer.stats">
      {{ !!questionAnswer.stats[answer._id] ? (100 * questionAnswer.stats[answer._id]) : 0 | number:1 }} %
      <i class="fa" data-ng-if="!!question.settings.showCorrectAnswer && question.settings.showCorrectAnswer != false" data-ng-class="{'fa-check': !!question.settings.showCorrectAnswer && !!questionAnswer.status[ answer._id ].correct, 'fa-times': !questionAnswer.status[ answer._id ].correct }"></i>
    <span>
  </label>
</div>
