<h2 class="theme-question-color" data-ng-bind-html="question.text | nl2br" data-ng-if="!!question.text"></h2>
<picture class="main-media-image"
  data-ng-if="!!currentQuestion.mainMedia()"
  data-ng-class="{'no-transform': !question.imageData, 'transform': question.imageData}"
  data-ng-init="mainMediaImgWidth = question.imageData.width < 100 ? question.imageData.width : 100 "
  data-ng-style="{'min-height': mainImageContainerHeight + 'px'}"
>
  <img data-ng-style="{
      'width': mainMediaImgWidth + '%',
      'left' : (question.imageData.left > 0 ? question.imageData.left : 0) + '%',
      'top'  : (question.imageData.top  > 0 ? question.imageData.top  : 0) + '%'
    }"
    data-ng-src="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }}" 
    data-ng-srcset="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }},
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.5' ) }} 1.5x,
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '2.0' ) }} 2.0x"
  >
  <img class="placeholder"
    data-ng-style="{'width': mainMediaImgWidth + '%'}"
    data-ng-src="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }}" 
    data-ng-srcset="{{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.0' ) }},
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '1.5' ) }} 1.5x,
                    {{ getMainImgUrl( currentQuestion.mainMedia().src, 680, '2.0' ) }} 2.0x"
  >
</picture>
<div
  class="list list__rating list__rating--{{question.rateIt.rateType || 'star'}}"
  data-ng-init="AA = makeTimes(question.rateIt.maxRateItValue || 5)"
>
  <span
    data-ng-click="sendAnswer(AA.length - $index, $event)"
    class="theme-answer-color"
    data-ng-class="{'item__selected': questionAnswer.selected >= AA.length - $index}"
    data-ng-repeat="r in AA"
    data-ng-if="question.rateIt.rateType !== 'number'">
    <i class="fa"></i>
    <span class="number">{{AA.length - $index}}</span>
  </span>

  <span
    data-ng-click="sendAnswer(AA.length - $index, $event)"
    class="theme-answer-color"
    data-ng-class="{'item__selected': questionAnswer.selected == AA.length - $index}"
    data-ng-repeat="r in AA"
    data-ng-if="question.rateIt.rateType === 'number'">
    <i class="fa"></i>
    <span class="number">{{AA.length - $index}}</span>
  </span>
</div>

<div class="footer-rating">
  <div class="cell">
    <div class="rating__label theme-question-color text-left"><span>{{question.rateIt.minLabel}}</span></div>
  </div>
  <div class="cell">
    <div class="rating__results theme-question-color">
      <span data-ng-if="questionAnswer.average">Average: {{ questionAnswer.average | number:1 }}</span>
    </div>
  </div>
  <div class="cell">
    <div class="rating__label theme-question-color text-right"><span>{{question.rateIt.maxLabel}}</span></div>
  </div>
</div>