<section class="social-shares--icons">

  <!-- Facebook -->
  <a class="social-shares--icons__fb" data-ng-click="socialShare().facebook.share()"><i class="fa fa-facebook"></i></a>

  <!-- Twitter -->
  <a class="social-shares--icons__twitter" href="https://twitter.com/intent/tweet?text={{ socialShare().title + ' ' + socialShare().link + ' via @4screens'}}"><i class="fa fa-twitter"></i></a>

  <!-- LinkedIn
  <a class="social-shares--icons__linkedin" data-ng-click="socialShare().linkedin.share()"><i class="fa fa-linkedin"></i></a>
  -->

  <!-- ToDo: Fix success callback
  <script type="IN/Share" data-url="{{socialShare().title}}" data-text="{{ socialShare().title + ' ' + socialShare().description }}" data-counter="right" data-success="linkedinShareSuccess" class="social-share-item social-share-linkedin"></script>
  -->
</section>