<section class="social-share" style="display:none;">
  <!-- Facebook -->
  <div facebook style="display:none!important;" class="social-share-item facebookShare sr-only" data-shares="sharesFb"></div>
  <div class="social-share-item facebookShare" data-ng-click="socialShare().facebook.share()">
    <div class="facebookButton">
      <div class="pluginButton">
        <div class="pluginButtonContainer">
          <div class="pluginButtonImage">
            <button type="button">
              <i class="pluginButtonIcon img sp_plugin-button-2x sx_plugin-button-2x_favblue"></i>
            </button>
          </div>
        <span class="pluginButtonLabel">Share</span>
      </div>
    </div>
  </div>
  <div class="facebookCount"><div class="pluginCountButton pluginCountNum"><span><span>{{ sharesFb }}</span></span></div><div class="pluginCountButtonNub"><s></s><i></i></div></div></div>

  <!-- Twitter -->
  <div twitter class="social-share-item"
    data-lang="en"
    data-count="horizontal"
    data-url="{{ socialShare().link }}"
    data-size="medium"
    data-text="{{ socialShare().title + ' ' + socialShare().description }}"
  ></div>

  <!-- LinkedIn -->
  <script type="IN/Share" data-url="http://www.heroicode.com" data-counter="right" data-onsuccess="linkedinShareSuccess" class="social-share-item"></script>

</section>